<?xml version="1.0"?>
<configuration>
    <appSettings/>
  <connectionStrings>
	<clear/>
  
	  <add name="DSN"  connectionString="server=localhost;database=gisdb;Port=5432;User Id=postgres;password=passwordhere"/>


  </connectionStrings>
    <system.web>
        <compilation debug="true" />
		<customErrors mode="Off" />
    </system.web>
</configuration>


